*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
}

body {
  background-color: hsl(233, 47%, 7%);
}

h1 {
  font-size: 1.7rem;
  font-weight: 700;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.lexend {
  font-family: 'Lexend Deca', sans-serif;
}

.lh-wide {
  line-height: 1.5rem;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.component {
  position: absolute;
  width: 90%;
  max-width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-wrapper-mobile {
  position: relative;
  width: 100%;
}

.purple-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(277, 100%, 40%, 0.4);
}

.hero-img-mobile {
  width: 100%;
  height: 100%;
}

.hero-wrapper-desktop {
  display: none;
}

.white {
  color: hsl(0, 0%, 100%);
}

.white-60 {
  color: hsla(0, 0%, 100%, 0.6);
}

.white-75 {
  color: hsla(0, 0%, 100%, 0.75);
}

span.purple {
  color: hsl(277, 64%, 61%);
}

.upper {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
}

.mb-half {
  margin-bottom: 0.25rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 800px) {
  .hero-wrapper-mobile {
    display: none;
  }

  .hero-wrapper-desktop {
    display: flex;
    position: relative;
    height: 100%;
  }

  .hero-img-desktop,
  .purple-overlay {
    max-height: 26rem;
  }

  .component {
    flex-direction: row;
    max-width: fit-content;
  }

  .container {
    flex-direction: row;
  }

  .copy-wrapper {
    margin-left: 3rem;
    width: 25rem;
  }

  .stats-wrapper {
    justify-content: space-between;
    padding-right: 2rem;
    margin-top: 5rem;
  }

  p,
  h1 {
    text-align: left;
  }
}
